/*-------------------------------------------------------
  Web Fonts
--------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*-------------------------------------------------------
  HTML5 Boilerplate
--------------------------------------------------------*/
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family:"Source Sans Pro", sans-serif;
}

p, pre {
    margin:0.5em 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: rgb(20,79,130);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NGY4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(20,79,130,1) 0%, rgba(229,229,229,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,79,130,1)), color-stop(100%,rgba(229,229,229,0)));
    background: -webkit-linear-gradient(top,  rgba(20,79,130,1) 0%,rgba(229,229,229,0) 100%);
    background: -o-linear-gradient(top,  rgba(20,79,130,1) 0%,rgba(229,229,229,0) 100%);
    background: -ms-linear-gradient(top,  rgba(20,79,130,1) 0%,rgba(229,229,229,0) 100%);
    background: linear-gradient(to bottom,  rgba(20,79,130,1) 0%,rgba(229,229,229,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144f82', endColorstr='#e5e5e5',GradientType=0 );
    background-repeat:no-repeat;

    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

.validate-section {
    width:700px;
    margin: auto;
}

ul.address-input-list {
    list-style-type: none;
    padding: 5px 0 0 10px;
}

ul.address-input-list li label {
    display:block;
    font-size:13px;
}

ul.address-input-list li input[type='text'], ul.address-input-list li select {
    outline: 0;
    width:250px;
    font-size:14px;
    border: 1px solid #ddd;
    border-radius: 2px 0 0 2px;
    height: 30px;
    line-height:20px;
    background:white;
    padding-left:5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom:5px;
}

button.submit, button.submit.mini {
    text-align: center;
    background: #799933;
    color: white;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 20px;
    width: 250px;
    font-weight: bold;
    border-radius: 2px;
}

button.submit:hover{
    background: #7BA838;
}

button.submit[disabled] {
    background: #aaa;
}

h3.section-title {
    font-size:16px;
    margin:0;
    padding:8px 0 8px 10px;
    background:#efefef;
    text-shadow: 0 0 1px #aaa;
    font-weight: normal;
    color:white;
}

h3.success-indication {
    background:#799933;
}

h3.warning-indication {
    background:#C99A04;
}

h3.empty-indication {
    background:#555;
}

h3.failure-indication {
    background:orange;
}

h3.error-indication {
    background:#CC333F;
}

h3.default-indication {
    background:#0e4e5a;
}

hr.section-title-hr {
    margin:0;
    padding:0;
    border-top:1px solid #666;
}

.section-row {
    padding: 5px 10px 5px 10px;
}

.col-1, .col-2, .col-3 {
    background:#fefefe;
    box-shadow:3px 3px 5px rgba(204,204,204,0.1);
    /*border:1px solid #ccc;*/
}

.grid-3 {
    margin:20px 0 0 40px;
}

.col-1 {
    float:left;
    margin-right:20px;
}

.col-1, .col-2 {
    min-height:550px;
    overflow-y: auto;
}

.col-2 {
    margin-left:20px;
    width:330px;
}

.col-3 {
    margin:20px 0;
    width: 630px;
}

.grid-3:after {
    content: "";
    display: table;
    clear:both;
}

table.light-table {
    width:100%;
    border-color:#ddd;
    border-width:1px;
    border-style:none solid none solid;
}

table.light-table thead tr th {
    font-size:12px;
    color:#444;
    padding:2px 5px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #aaa;
}

table.light-table tbody tr:nth-child(even) {
    background:#eee;
}

table.light-table tbody tr td:not(:last-child) {

}

table.light-table tbody tr td {
    font-size:13px;
    color:#333;
    padding: 5px 0;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #ccc;
    color: #444;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    box-shadow: inset 0px 2px 5px #aaa;
}

@-webkit-keyframes wobble {
    0%, 100%{
        /*transform*/
        opacity:1;
        top:0;
    }
    50% {
        /*transform*/
        opacity:0.8;
        top:10px;
    }
}

/* Animations */
@-webkit-keyframes slide-left {
    0% { opacity:0;
        /*transform*/
        -webkit-transform:translateX(50px);
        -moz-transform:translateX(50px);
        -ms-transform:translateX(50px);
        -o-transform:translateX(50px);
        transform:translateX(50px);
    }
    100%{
        opacity:1;
        /*transform*/
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform:none;
    }
}

.wobble {
    position:relative;
    -webkit-animation-name:wobble;
    -moz-animation-name:wobble;
    -ms-animation-name:wobble;
    -o-animation-name:wobble;
    animation-name:wobble;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    /*animation-timing-function*/
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -ms-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    /*animation-duration*/
    -webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    -ms-animation-duration:.2s;
    -o-animation-duration:.2s;
    animation-duration:.2s;
}

.slide-left {
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /*animation-name*/
    -webkit-animation-name:slide-left;
    -moz-animation-name:slide-left;
    -ms-animation-name:slide-left;
    -o-animation-name:slide-left;
    animation-name:slide-left;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    /*animation-timing-function*/
    -webkit-animation-timing-function:ease-in;
    -moz-animation-timing-function:ease-in;
    -ms-animation-timing-function:ease-in;
    -o-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    /*animation-duration*/
    -webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    -ms-animation-duration:.2s;
    -o-animation-duration:.2s;
    animation-duration:.2s;
}



/* ==========================================================================
   Animations
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}